# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.js.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Server Stuff\Portfolio Website\Astero-Site\public\js\.idea\.idea.js.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
